body {
    font-family: 'Mulish', sans-serif;
}

.navbar {
    border: 2px solid black;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
}

li a {
    margin: 0;
    padding: 20px;
    color: #111111;
}

ul li a:hover, ul li a:focus {
    color: red;
}


.container {
    margin-top: 200px;
    margin-left: 130px;
    border: 2px solid black;
    width: 400px;
    height: 215px;
}
.firsth-3 {
    color: #4A4FF2;
}
.first-h2{
    color: #4A4FF2;
}

.container2{
    margin-left: 130px;
    border: 2px solid black;
    width: 155vh;
    height: 200vh;
}

/* Grid photos */

.position-grid {
    width: 1110px;
    height: 1960px;
}

.container-grid {
    display: grid;
    width: 100%;
    grid-gap: 15px;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(32,1fr);
    width: 1110px;
    height: 1960px;
}

img {
    overflow: hidden;
}
 
.image1 {
    grid-column: 1 / 4;
    grid-row: 1 / 7;
}

/* .image2 {

} */
/* 
.image3 {

}

.image4 {

}

.image5 {

}

.image6 {

}

.image7 {

}

.image8 {

}

.image9 {

}

.image10 {

}

.image11 {

}

.image12 {

} */
