body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.navbar {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4a4ff2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo {
  color: #000;
  font-size: 28px;
}

.container {
  margin: 150px;
  width: 280px;
  height: 100px;
}

.container2 {
  margin: 2px;
  color: #7b7b7b;
  width: 630px;
  height: 120px;
}

.genlist {
  position: absolute;
  font-style: bold;
  top: 30%;
  right: 30%;
}

.genlist2 {
  top: 30%;
  right: 15%;
  position: absolute;
  color: #808080;
}

.container3 {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin: 1px;
}

.container4 {
  margin: 150px;
  width: 1109px;
}

.img-mid {
  margin: 150px;
}

.container5 {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  margin: 150px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
}